<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Образование НИУ "МЭИ"</title>
</head>
<body>
    <div class="page">
        <div class="info">
            <a href="/">Домашнаяя страница</a>
            <div class="admin">
            <a href="/courses/admin/">Администратор</a>
            <span>Пользователь: </span>
            <a href="">Выйти</a>
            <a href="">Вход для администратора</a>
            </div>
        </div>
        <div class="directions">
            <h3>Количество направлений:</h3>
        </div>
        <div class="courses">
            <h3>Список курсов</h3>
            {{ range . }}
            <ul>
                <li>
                    <table>
                        <tr>
                            <th colspan="2">{{ .Name }}</th>
                        </tr>
                        <tr>
                            <td>Кол-во занятий:</td>
                            <td>{{ .NumOfClasses }}</td>
                        </tr>
                        <tr>
                            <td>Время занятия:</td>
                            <td>{{ .ClassTime }} минут</td>
                        </tr>
                        <tr>
                            <td>Даты проведения:</td>
                            <td>{{ .FirstClassDate }} - {{ .LastClassDate }}</td>
                        </tr>
                        <tr>
                            <td>Стоимость:</td>
                            <td>{{ .Price }} рублей</td>
                        </tr>
                        <tr>
                            <td>
                                <form action="/">
                                    <button>Записаться</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form action="/{{ .Name }}">
                                    <button>Подробнее</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            {{ end }}
                <p>Нет записей о курсах</p>
        </div>
        <div class="pagination">
        </div>
    </div>
</body>
</html>